.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  min-height: 100vh;
}

.Header {
  color: white;
  font-size: calc(18px + 2vmin) !important;
  padding: 16px !important;
  text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

